<h1>Havin' fun with some Sass</h1>

<div class='box'>
	<ul>
		<li>Apples</li>
		<li>Oranges</li>
		<li><a href="http://www.mega64.com" target="_blank">Bananas</a></li>
	</ul>
</div>

<div class='box2'>
	<ol>
		<li>Pizza</li>
		<li>Sushi</li>
		<li>Ribeye Steak</li>
	</ol>
</div>